/* errors */
.error {
    color: red;
    font-size: 0.8em;
    margin-top: 0.5em;
}

/* success */
.success {
    color: green;
    font-size: 0.8em;
    margin-top: 0.5em;
}

.alink {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.inactive-link {
    color: gray;
    text-decoration: none;
    cursor: default;
}