input#edit-requirePkce {
  display: block;
  width: auto;
  margin: 3px 3px 3px 0px; /* Top, Right, Bottom, Left margins */
}

input#requirePkce {
  display: block;
  width: auto;
  margin: 3px 3px 3px 0px; /* Top, Right, Bottom, Left margins */
}