// This component uses global reusable styles from styles.scss
// The following classes are used:
// - .filter-section
// - .filter-input-wrapper
// - .filter-input
// - .filter-clear-button
// - .filter-info
