<div class="header">
    <div class="header-left">
        <img src="https://abstratium.dev/abstratium-logo-small.png" alt="Abstratium Logo" class="logo">
        <span class="brand-name">ABSTRATIUM</span>
    </div>

    <div class="header-right">
        <button 
            class="theme-toggle-btn" 
            (click)="toggleTheme()" 
            [attr.aria-label]="themeService.theme$() === 'light' ? 'Switch to dark mode' : 'Switch to light mode'"
            [title]="themeService.theme$() === 'light' ? 'Switch to dark mode' : 'Switch to light mode'">
            @if(themeService.theme$() === 'light') {
                🌙
            } @else {
                ☀️
            }
        </button>
        <a href="https://abstratium.dev/docs/legal">Legal</a>
        @if(isSignedIn) {
            &nbsp;|&nbsp;
            <a id="clients-link" routerLink="/clients" routerLinkActive="inactive-link">Clients</a>
            &nbsp;|&nbsp;
            <a id="accounts-link" routerLink="/accounts" routerLinkActive="inactive-link">Accounts</a>
            &nbsp;|&nbsp;
            🥷 <a id="user-link" routerLink="/user" routerLinkActive="inactive-link">{{ token.name }}</a>
            &nbsp;|&nbsp;
            <a id="signout-link" class="alink" (click)="signout()">Sign out</a>
        }
    </div>
</div>