<div class="header">
    <div class="header-left">
        <img src="https://abstratium.dev/abstratium-logo-small.png" alt="Abstratium Logo" class="logo">
        <span class="brand-name">ABSTRATIUM</span>
    </div>

    <div class="header-right">
        <a href="https://abstratium.dev/docs/legal">Legal</a>
        @if(isSignedIn) {
            &nbsp;|&nbsp;
            <a id="clients-link" routerLink="/clients" routerLinkActive="inactive-link">Clients</a>
            &nbsp;|&nbsp;
            🥷 <a id="user-link" routerLink="/user/{{ token.sub }}" routerLinkActive="inactive-link">{{ token.email }}</a>
            &nbsp;|&nbsp;
            <a id="signout-link" class="alink" routerLink="/signout">Sign out</a>
        }
    </div>
</div>