<div class="container">
  <h1>User Profile</h1>
  
  <div class="card">
    <h2>Token Claims</h2>
    <p class="description">All claims contained in your JWT identity token:</p>
    
    <div class="data-table">
      <div class="table-row header">
        <div class="table-cell-key">Claim</div>
        <div class="table-cell-value">Value</div>
      </div>
      
      @for (claim of tokenClaims; track $index) {
        <div class="table-row" [attr.data-claim]="claim.key">
          <div class="table-cell-key">{{ claim.key }}</div>
          <div class="table-cell-value">
            @if (!isArray(claim.value)) {
              {{ claim.value }}
            }
            @else {
              <ul class="bullet-list">
              @for (item of claim.value; track $index) {
                <li>{{ item }}</li>
              }
              </ul>
            }
          </div>
        </div>
      }
    </div>
  </div>
</div>
